@page "/Play/{Id:int}"
@inject IMembershipService membershipService

<a class="btn btn-secondary rounded-0 mb-4" href="/Film/@Id">
    <i class="oi oi-arrow-left"></i><span class="vertical-align"> Back to film</span>
</a>

@if (Model.FilmUrl is not null)
{
    <div class="video-player">
        <iframe src="@Model.FilmUrl" frameborder="0" allow="accelerometer; autoplay;
        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
}



@code {
    //[Parameter] public string Uri { get; set; }
    [Parameter] public int Id { get; set; }
    public FilmDTO Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await membershipService.GetFilmAsync(Id);
    }
}
